<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<style>
   .mainDiv {
    position:fixed;
    top: 50%;
    left: 50%;
    width:50em;
    height:14em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -25em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    text-align: center;
}
</style>

<body>
    <div class="mainDiv">
          <h1 style="font-size: 60px;">Welcome to the Expense APP API's</h1>
    </div>
</body>
</html>